.container{
    margin-top: 10%;
    width: ;
    background-color: blueviolet;
    background-size: 2em;
    padding-top: 2px;
    padding-bottom: 25px;
}
lable{
    display: block;
    padding-bottom: 5px;
    padding-top: 5px; */
    
    
}
form{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.button{
    display: block;
    margin: auto;
    color: white;
    background-color: black;
    width: 24%;
    text-align: center;
    border: none;
    
    
    /* margin-left: 100%; */ 
} 
.btn{
    
}