.main{
    width: 500px;
    height: 500px;
    background-color: red;
    border: 3px solid rgb(23, 23, 48);
    margin: 10px;
    padding: 10px;
    
}
div{
    width: 500px;
    height: 500px;
    background-color: red;
    border: 3px solid rgb(23, 23, 48);
    margin: 10px;
    padding: 10px;
    
}
body{
    background-color: blue;
    position: relative;
}
/* div p{ */
    /* position: absolute;
    bottom: 0; */

p{
    margin:50px;
    background-color: antiquewhite;
    width: 200px;
    height: 100px; 
    /* position: absolute;
    top:0; */
}
ul{
    border: 1px solid green;
    background-color: beige;
}

li{
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
}